:root{
    --nav-btns: black;
    --nav-btns-size: 20px;
    --nav-btns-font: "Oswald", sans-serif;
    --text-font: "Cormorant Garamond", serif;
}

*{  
    padding: 0;
    margin: 0;
}


.logo img{
    height: 100px;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
}

.nav-buttons a{
    text-decoration: none;
    color: var(--nav-btns);
    font-size: var(--nav-btns-size);
    font-family: var( --nav-btns-font);
}


